* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lora', serif;
    color: rgba(22, 40, 56, 0.7);
    font-size: 26pt;
    margin: auto;
    font-weight: normal;
    text-align: center;
    padding: 25px;
}

.row {
    height: auto;
    margin: auto;
}

.col-lg-8 {
    margin: auto;
}

.col-lg-4 {
    margin: auto;
}

.col-sm-8 {
    margin: auto;
}

.col-md-8 {
    margin: auto;
}

.col-md-4 {
    margin: auto;
}




#button {
    background-color: rgba(228, 211,103,0);
    margin: auto;
    border-width: 1.5pt;
    border-color:  rgba(22, 40, 56, 0.4);
    padding: 10px;
    font-family: 'Lora', serif;
    font-size: 14pt;
    color: rgba(22, 40, 56, 0.8);
}

#button:hover {
    border-color:  rgba(22, 40, 56, 0.2);
    color: rgba(22, 40, 56, 0.6)
}

ol {
    width: 80%;
    margin: 0 25%;
    padding: 25px;
    font-family: 'Lora', serif;
    font-size: 14pt;
    color: white;
    line-height: 2.5;
}